<!DOCTYPE html>
html(lang="en")
    head
        script(src="https://kit.fontawesome.com/12b188f415.js", crossorigin="anonymous")
        link(href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css")
        title DigiClover
    body
        block content
        