extends layouts/basic

block content
    .join__container
        .layer
            .join__header
                include partials/logo
                .join__header-signin
                    p 로그인
                .join__header-signup
                    p 회원가입
            .social__container
                a.social-join--email(href="/user/joinEmail")
                    span
                        i.fas.fa-envelope
                        p E-Mail로 가입하기
                button.social-join--line
                    span
                        i.fab.fa-line
                        p Line으로 가입하기
                button.social-join--facebook
                    span
                        i.fab.fa-facebook
                        p Facebook으로 가입하기