extends layouts/basic

block content
    main.main
        aside.main__aside
            .main__logo
                include partials/logo
            .aside__menu
                .aside__menu-manage 
                    .aside__menu-manage-text 문서화 관리
                    i.fas.fa-chevron-up
                .aside__menu-locker
                    .aside__menu-locker-text 문서 보관함
                    i.fas.fa-chevron-up
            form(action="/upload/docu" method="post" enctype="multipart/form-data")
                .filebox
                    label(for="file") 문서 업로드
                    input(name="docu" type="file" accept="application/pdf" id="file")
                    input(type='submit' value="제출")
        section.main__content
            .main__header
                .header-txt 문서화 관리
                .header-search
                    form(method="get")
                        input(type="text", placeholder="계약서를 검색하세요.", name="keyword")
                .header__user
                    .header__user-container
                        p.header__user-name Clover님
                        .header__user-logout 로그아웃
                    .header__user-img2
            .main__tabmenu
                button.tabmenu__complete
                    p.tabmenu__complete-txt 인증 대기
                    .tabmenu__waiting-num 0
                button.tabmenu__waiting
                    p.tabmenu__waiting-txt 문서화 완료
                    .tabmenu__complete-num 1
                button.tabmenu__issued
                    p.tabmenu__issued-txt 인증서 발급
                    .tabmenu__issued-num 0
            .main__body
                .body__container
                    .container__info
                        a(href="/docu/contract_seong1608360070482.pdf")
                            p.container__info-title contract_seong.pdf
                        p.container__info-date 2020. 12. 19
                        p.container__info-hash 965cd83fb5adedcc4ccd4330204a8cc22b06e23afa40058f0d4439683eb55af2
                    .container__verify
                        .container__box-kab
                            .container__verify-kab 갑 
                                br 
                                |인증완료
                        .container__box-kab
                            .container__verify-kab 을
                                br
                                |인증완료
                        .container__verify-req 인증 완료