.join__header-signin p {
  opacity: 0.4;
}

.form__container {
  width: 32%;
  height: 620px;
  margin: 5% 0;
  margin-left: 33%;
  padding: 10% 4%;
  text-align: center;
  border: solid 0.25px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form__container p {
  text-align: left;
  font-family: SpoqaHanSans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.09px;
  color: #ffffff;
}

.input__box {
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: solid 0.7px rgba(255, 255, 255, 0.3);
  background-color: rgba(249, 249, 249, 0.1);
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
  color: #ffffff;
  padding: 0 20px;
}

.btn__submit {
  width: 100%;
  margin-top: 15px;
  height: 50px;
  background-color: #cbdb24;
  border: 0;
  outline: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(81, 81, 81, 0.36);

  font-family: SpoqaHanSans, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.7;
  letter-spacing: -0.13px;
  color: #07153e !important;
}

.btn__submit:hover {
  background-color: #becd18;
}

.btn__submit span {
  display: flex;
  justify-content: center;
}

.form__container .btn__submit p {
  color: #07153e !important;
  font-size: 16px;
  padding-left: 17px;
}
